.vscode/
/WB-LIST-POO/node_modules/
/atv1-wb-typescript/node_modules/
/atv1-wb-typescript/node_modules/**
/atv1-wb-typescript/out/
/atv1-wb-typescript/out/**
/atv2-wb-typescript/node_modules/
/atv2-wb-typescript/node_modules/**
/atv4-wb-typescript/client/node_modules/
/atv4-wb-typescript/client/node_modules/**
/atv5-wb-typescript/client/node_modules/
/atv5-wb-typescript/client/node_modules/**
/atv5-wb-typescript/server/node_modules/
/atv5-wb-typescript/server/node_modules/**
/atv3-wb-typescript/node_modules/
/atv3-wb-typescript/node_modules/**
/node_modules/
/node_modules/**
/out/
/out/**

/atviv-wb-typescript/client/node_modules/
/atviv-wb-typescript/client/node_modules/**